<div class="mainLogin">

  <div class="mainLogin__leftLogin">
    <h1 id="loginFormHeader">Faça o login <br> para usar a nossa plataforma</h1>
    <img src="./../assets/images/login.svg" class="leftLogin__img" alt="Mulher com celular na mão e objetos de segurança digital ao fundo, animação">
  </div>

  <div class="mainLogin__rightLogin">
    <div class="rightLogin__cardLogin">
      <h1>Login</h1>
      <form method="post" id="loginForm" action="?login">
        <div class="cardLogin__textfield">
          <label for="username" class="textfield__label">Usuário/E-mail</label>
          <input type="text" name="username" id="username" class="textfield__input" placeholder="Digite seu usuário/e-mail">
        </div>
        <div class="cardLogin__textfield">
          <label for="password" class="textfield__label">Senha</label>
          <input type="password" name="password" id="password" class="textfield__input" placeholder="Digite sua senha">
          <button type="submit" name="action" id="btnLogin">Login</button>
        </div>
      </form>
    </div>
  </div>

</div>